<html>
  <body>
    <p>Hello {{username}},</p>
    <p>
      We received a request to reset your password. If you made this request,
      click the link below to set a new password. The link will expire in one
      hour.
    </p>
    <p>
      <a href="{{host}}/api/auth/reset_password?token={{token}}"
        >Reset your password</a
      >
    </p>
    <p>
      If you didn't request a password reset, you can safely ignore this email.
    </p>
    <p>Regards,<br />The Team</p>
  </body>
</html>
